<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>  
  </tr>
  <% @invoices.each do |invoice| %>
    <tr>
      <th><%= invoice.id %></th>
      <th><%= invoice.orders.first ? invoice.orders.first.customer.name : "No Orders" %></th>
    </tr>
  <% end %>
</table>