<h1>Invoices</h1>
<table>
  <tr>
    <th>Invoice Id
    <th>Customer</th>  
  </tr>
  <% if @invoices.empty? %>
    <p> No Invoices </p>
  <% else %>
      <%= render partial: 'invoices/invoice', collection: @invoices, as: :invoice %>
  <% end %>
</table>