<% if @orders.empty? %>
  /No Orders/
<% else %>
  <h2>Open Orders</h2>
  <table>
    <tr>
      <th>Order Id</th>
      <th>Product
      <th>Price
      <th>Customer</th>  
    </tr>
      <%= render partial: "orders/order", collection: @orders, as: :order %>
  </table>
<% end %>